<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 vertical-center">
      <div class="thumbnail">
        <img src="{{this.imagePath}}" alt="{{this.title}}">
        <div class="caption">
          <h2>{{this.title}}</h2>
          <p class="price">&#8377;{{this.price}}</p>
          <p>{{this.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>